/** {
  box-sizing: border-box
}

.menuTitle{
  display: flex;
  justify-content: center;
}



  body {
   background-color: gray;6
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }  



<!--FOOTER AND NAVBAR-->

footer{
  height:15vh;
}


h1 {
  border: 2px solid black;
  border-radius:20px;
  padding: 50px 100px;
}


  .header-title {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  
   .navigation-container i {
     font-size: 20px;
   }*/

header {
  text-align: center;
  padding: 2rem;
  background-color: #68805e88;
  font-size: 30px;
  margin: 50px;
}

body {
  margin: 5px;
  font-family: system-ui;
}


ul {
  list-style: none;
  padding: 5rem;
}

nav {
  padding: 14px 40px;
  background-color: rgb(231, 100, 6);
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgb(171, 224, 206);
  justify-content: space-around;
}

.navbar > div {
  background-color: #e9ded2;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 55px;
  font-size: 30px;
  align-items: center;
  bottom: 0;
}

fieldset{
  display: grid;
  padding: 25px;

}

.menu {
  font-size: 22px;
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  width: 156px;
  height: 40px;
  padding: 15px;
  border: 3px outset rgb(222, 81, 30);
  margin: 0;
  text-align: center;
  padding: 5px;
  border: none;
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgb(115, 65, 65);
  background-color: rgb(32, 19, 209);
  font-weight: 500;
  color: rgb(248, 248, 248);
}

.myDiv {
  width: 200px;
  padding: 5px;
  border: 3px outset black;
  margin: 0;
  text-align: center;
}
.menu-bar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction:row;
  justify-content: space-around;
}


navbar a {
  float: left;
  padding: 20px;
  color: rgb(180, 10, 10);
  text-decoration: none;
  
}

.navbar a:hover {
  background-color: #9490b3;
}

.active {
  background-color: #e8edd8;
  padding-block-start: 4%;
 padding-right: 6%;
 padding-left: 6%;

}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }

  fieldset{
    display: grid;
    padding: 85px;
  
  }